{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dashboard">
  <h2>Welcome, {{ session['username'] }}!</h2>

  <div style="text-align: center;" class="buttons">

    <!-- Upload File (inside upload blueprint) -->
    <a href="{{ url_for('upload.upload_file') }}" class="button-1">Upload File</a>

    <!-- My Uploads (main app route) -->
    <a href="{{ url_for('my_uploads') }}" class="button-1">My Uploads</a>

    <!-- Edit Profile (inside auth blueprint) -->
    <a href="{{ url_for('auth.edit_profile') }}" class="button-1">Edit Profile</a>

    <!-- Analysis Result (main app route) -->
    <a href="{{ url_for('analysis_result') }}" class="button-1">Analysis Result</a>
   
   

  </div>
</div>
{% endblock %}
